@font-face {
    font-family: 'Maratre';
    src: url('./custom_font/Maratre.woff2') format('woff2'),
        url('./custom_font/Maratre.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Autumn in November';
    src: url('./custom_font/AutumninNovember.woff2') format('woff2'),
        url('./custom_font/AutumninNovember.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
